/* CSS for All */
body{
    font-family: Arial, Helvetica, sans-serif;
}



/* CSS for Header */
#header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

#header .header-inner{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

#header .header-inner .logo{
    width: 25%;
    height: 100%;
    display: flex;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

#header .header-inner .nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Archivo', sans-serif;
}

.main-menu>li{
    width: fit-content;
    margin-right: 15px;
    padding: 5px;
    position: relative;
}

.main-menu>li>a{
    text-decoration: none;
    color: #020506;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
}

.main-menu>li>a.active{
    color: #0b249e;
    text-shadow: 1px 1px #e7e2e2;
}

.sub-menu{
    display: none;
}

.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #F4F4F4;
    padding: 10px;
    width: max-content;
}

.main-menu>li:hover .sub-menu li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.main-menu>li:hover .sub-menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
}

.main-menu>li>a:hover{
    color: #0b249e;
}
/* CSS for Main */
#GioiThieu{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 5311,84px;
    width: 1200px;
   padding: 0 30px 50px 30px;
   display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: none solid black;
    text-align: center;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 26px;
    width: 747px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh1{
    font-family: Arial, sans-serif;
    font-size: 14,5px;
    line-height: 18,85px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 43,75px;
    width: 767px;
    border-bottom: 1px solid #F1F1F1;
    margin: 0 0 20px 0;
    padding: 0 0 15px 0;
    display: flex;
    list-style-type: none;
    list-style-position: outside;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh2{
    font-family: Arial, sans-serif;
    font-size: 14,5px;
    line-height: 21,75px;
    text-decoration: none solid rgb(74,74,74);
    text-align: left;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 27,75px;
    width: 119,422px;
    padding: 0 0 5px 0;
    max-height: auto;
    max-width: auto;
    display: list-item;
    list-style-type: none;
    list-style-position: outside;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.GioiThieu1{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 5331,34px;
    width: 1200px;
    padding: 0 30px 50px 30px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.ThichChiase{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    text-align: left;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 35px;
    width: 767px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.ninh4{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 28,8px;
    text-decoration: none solid black;
    text-align: justify;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 172,781px;
    width: 747px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
    margin-top: 15px;
}

.ninh5{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 28,8px;
    text-decoration: none solid black;
    text-align: justify;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 86,3906px;
    width: 747px;
    margin: 0 0 20px 0;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
    margin-top: 15px;
}

.ninh6{
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 22,1px;
    text-decoration: none solid blue;
    text-align: left;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: blue;
    height: 22,0938px;
    width: 747px;
    margin: 0 0 20px 0;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
    margin-top: 20px;
}

.ninh7{
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 28,8;
    text-decoration: none solid black;
    text-align: justify;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 639,734px;
    width: 747px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.ninh10{
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 28,8;
    text-decoration: none solid black;
    text-align: justify;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 28,7969px;
    width: 727px;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

b{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28,8px;
    text-decoration: none solid black;
    text-align: justify;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: auto;
    width: auto;
    display: inline;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.ninh11{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 19,5px;
    text-decoration: none solid black;
    text-align: flex;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: auto;
    width: auto;
    cursor: pointer;
    list-style-type: disc;
    list-style-position: outside;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.ninh12{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 801,563px;
    width: 767px;
    position: relative;
    list-style-type: disc;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.ninh13{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none solid black;
    text-align: left;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 50,7969px;
    width: 745px;
    display: block;
    cursor: pointer;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh14{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20,8px;
    text-decoration: none solid black;
    text-align: left;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: auto;
    width: auto;
    display: inline;
    cursor: pointer;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh6{
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none solid blue;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: #0B249E;
    height: 18px;
    width: 747px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.right4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 21px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 326,688px;
    width: 262px;
    margin: 0 0 40px 0;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.right4-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-decoration: none solid black;
    text-transform: capitalize;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 15px;
    width: 262px;
    border-top: 0px solid blue;
    border-right: 0px solid blue;
    border-bottom: 0px solid blue;
    border-left: 3px solid blue;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh15{
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: blue;
    height: 17px;
    width: 747px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh16{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 75,5px;
    width: 767px;
    border-top: 1px solid white;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh17{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    text-align: left;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 44,5px;
    width: 383,5px;
    border-top: 0px solid white;
    border-right: 1px solid white;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    padding: 0 20px 0 0;
    float: left;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh18{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 19,5px;
    text-decoration: none solid black;
    text-align: right;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 44,5px;
    width: 363,5px;
    cursor: pointer;
    display: block;
    transform: none;
    transition: all 3s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh19{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 309,906px;
    width: 767px;
    border-top: 1px solid white;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    display: block;
    transform: none;
    transition: all 3s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.ninh20{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid black;
    word-spacing: 0px;
    background-color: #FFFFFF;
    background-position: 0% 0%;
    color: black;
    height: 226,375px;
    width: 259,828px;
    min-height: 100px;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;
    display: flex;
    clear: both;
    transform: none;
    transition: all 3s ease 0s;
    box-sizing: border-box;
    word-wrap: break-word;
}

/*CSS for Footer
container-fluid
footer container
row
col
col-md-12
col-md-4
form-group
*/
.container-fluid{
    padding: 0;
}
.form-group{
    height: 41px;
    width: 460px;
    margin-left: 340px;
    margin-top: 20px;
}





